/* Fontes*/
body {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: rgb(165, 224, 204);
margin: 20px auto;
border: rgb(46, 7, 7) solid 4px;
padding: 10px;
}
.index {
background-color: rgb(28, 116, 86);  
}
p {
     text-align: center;
}
h2 {
    background-color: rgb(144, 104, 185);
    text-align: right;
}
table {
    border: 10px solid black;
}

