/* Fontes*/
body {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: rgb(165, 224, 204);
margin: 20px auto;
border: rgb(46, 7, 7) solid 4px;
padding: 10px;
}
#bodyindex {
background-color: rgb(28, 116, 86);  
}
p {
     text-align: center;
}
h2 {
    background-color: rgb(144, 104, 185);
    text-align: right;
}
table {
    border: 10px solid black;
}
.formulario {

    .formulario {
        background-color: #fce4ec;
        padding: 40px;
        font-family: Arial, sans-serif;
      }
      
      .titulo-formulario {
        color: purple;
        text-align: center;
      }
      
      .campo-formulario {
        width: 300px;
        padding: 8px;
      }
      
      .botao-formulario {
        background-color: purple;
        color: white;
        border: none;
        padding: 10px 15px;
        margin-top: 10px;
        cursor: pointer;
      }
    }
